:root {
  --blue-text: #2196f3;
  --black-text: #000;
  --grey-text: #212121;
  --white-text: #fff;
  --light-grey: #757575;
  --team-background-color: #f5f4fa;
  --darkGrey-background-color: #2f303a;
}

body {
  font-family: Roboto, sans-serif; /* dodać inne czcionki */
  color: var(--grey-text);
  font-size: 14px; /*czy to ma być w body? */
}

.webstudio {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  text-decoration: none;
  color: var(--black-text);
}

.web-blue {
  color: var(--blue-text);
}

.page-link {
  text-decoration: none;
  color: var(--grey-text);
  font-weight: 500;
}

.page-link:hover,
.page-link:focus {
  color: var(--blue-text);
}

.title-description {
  background-color: var(--darkGrey-background-color);
  text-transform: uppercase;
  color: var(--white-text);
  text-align: center;
}

.list {
  list-style-type: none;
}

.heading {
  font-size: 36px;
}

.team {
  background-color: var(--team-background-color);
  text-align: center;
}

.what-we-do {
  text-align: center;
}

.small-font {
  font-size: 14px;
  font-weight: 700;
}

.employe {
  font-size: 16px;
  font-weight: 500;
}

.job {
  color: var(--light-grey);
}

.portfolio-elements {
  text-align: center;
}

.portfolio-project {
  font-size: 18px;
  font-weight: 700;
}

.portfolio-description {
  font-size: 16px;
}

.contact {
  background-color: var(--darkGrey-background-color);
  color: var(--white-text);
}

.studio-white {
  color: var(--white-text);
}

.contact-page-link {
  color: #ffffff60;
  text-decoration: none;
}

.address-info {
  font-style: normal; /*skasować? C17 */
  text-decoration: none;
}
